.header{
    background-image: url("/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 38vw;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
}

.header-contents{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    position: absolute;
    bottom: 10%;
    left: 6vw;
    max-width: 50%;
    animation: fadeIn 3s;
}

.header-contents .mid{
    padding: 10px 40px;
    border-radius: 50px;
    margin-left: 70%;
    font-size: 18px;
    font-weight: 600;
    background-color: #000101;
    border: 1px solid #626262;
    cursor: pointer;
    transition: 0.8s;
    color: #fff;
}

.header-contents .mid:hover{
    transform: scale(1.1);
}

.header-contents h1{
    color: #fff;
    font-weight: 600;
    font-size: max(4.5vw,22px);
}

.header-contents .header-contents-text{
    color: #fff;
    font-size: 1vw;
}

.header-contents button{
    padding: 1vw 2.3vw;
    border: none;
    outline: none;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: 0.4s;
}

.header-contents button:hover{
    background-color: #fff;
    color: tomato;
}